<div class="small_action_link"><%= link_to "Logout", session_path, method: :delete, class: "logout" %></div>

<section>
  <p><span>August 8th, 2015</span><p>

  <h1>Welcome <%= @user.name %>!</h1>

  <p><span>
    <a href="/tableseater">Table Seater</a>
  </span></p>

<div class="one_half">
  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk

</div>

<div class="one_half">
  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk  asdlfkjas;ldfkjs;lfk
</div>


<div class="resetColumnSet"></div>
</section>