<header>
  <h1 class="welcome"> Welcome to Ellie and Nick's Wedding Website</h1>
</header>

<p>
  This website will be used for guests of our wedding to submit their rsvp.
  It will also be used to interact with confirmed guests via email with suggestions of activities, weather. etc
</p>

<a href="/rsvp">RSVP Now</a>
