<div class="small_action_link">Already have an account? <a href="/login">Login Here</a></div>

<section>
  <p><span>Hello</span>

  <p>

  <h1>Please register below</h1>


  <ul class="errors">
    <% @user.errors.full_messages.each do |error| %>
      <li> <%= error %></li>
    <% end %>
  </ul>

  <div class="two_third">
      <%= render partial: 'user', locals: {user: @user} %>
  </div>
</section>