<header><h1 class="welcome">Thank you for RSVP'ing! Please fill in the information below...</h1></header>

<div class="flash_notice">
  <%= flash[:notice] %>
</div>

<form action="/rsvp" method="post">
  <table>
    <tr>
      <td>
        Name:
      </td>
      <td>
        <input type="text" name="name">
      </td>
    </tr>
    <tr>
      <td>
        Email:
      </td>
      <td>
        <input type="email" name="email">
      </td>
    </tr>
    <tr>
      <td>
        Wedding Password:
      </td>
      <td>
        <input type="password" name="wedding_password">
      </td>
    </tr>
    <tr>
      <td>
        Create Your Own Password:
      </td>
      <td>
        <input type="password" name="guest_password">
      </td>
    </tr>
    <tr>
      <td>
        All set?
      </td>
      <td>
        <input type="submit" value="Yes!">
      </td>
    </tr>

  </table>
</form>



<!--<form action="/register" method="post">-->
<!--<table>-->
<!--<tr>-->
<!--<td>-->
<!--<label for="email">Email</label>-->
<!--</td>-->
<!--<td>-->
<!--<input id="email" type="text" name="email">-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<label for="password">Password</label>-->
<!--</td>-->
<!--<td>-->
<!--<input id="password" type="password" name="password">-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<label for="password_confirmation">Confirm Password</label>-->
<!--</td>-->
<!--<td>-->
<!--<input id="password_confirmation" type="password" name="password_confirmation">-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td colspan="2">-->
<!--<input type="submit" value="Register">-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->
<!--</form>-->