<section>
  <p><span>More photos to come!</span><p>
  <div class="one_half">
    <img src="https://scontent-a-ord.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10645153_10101491806744122_5279301057315974325_n.jpg?oh=2843ff3a7df91a933fd3d75742baaddb&oe=54AD08DC" width="250px">
    <br>
    <br>
    <img src="https://scontent-b-ord.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1450837_10101004036639322_271318743_n.jpg?oh=7f5f370e181e98c94c2ad4d2b2e95cf1&oe=54DAC989" width="250px">
  </div>

  <div class="one_half">
    <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/10577193_10101364580107322_4905046735863444886_n.jpg?oh=1c5ace4c16455d1a894d08ab797b0e2e&oe=54F7F809&__gda__=1425248740_46cf5adb1bd9a9db637be381e3687156" width="290px">
    <br>
    <br>
    <img src="https://scontent-a-ord.xx.fbcdn.net/hphotos-ash2/v/t1.0-9/1005343_10100837619116372_1449285520_n.jpg?oh=1860e392e72a84d9546aff05f0a0690b&oe=54ECB49A" width="290px">
  </div>

  <div class="resetColumnSet"></div>
</section>