/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
        STYLE.CSS:
        One stylesheet to rule them all.

        selector { property:value }

*/
/* ----- =structure ----- */
@import url(http://fonts.googleapis.com/css?family=Oswald:700);

$dark_gray: #3d3d3d;

section {
  text-align: center;
  width: 980px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

h1 {
  font-size: 6.0em;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  background: image-url('steamboat-trees.JPG') left center no-repeat;
  background-size: cover;
  /* BACKGROUND CLIP TO ALLOW GIF TO MASK THROUGH */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  margin: 40px;
  font-size: 2.2em;
  font-family: 'Didot', serif;
  color: $dark_gray;
  span {
    position: relative;
    display: inline-block;
    line-height: 1;
    &:after, &:before {
      content: "";
      position: absolute;
      top: 50%;
      height: 1px;
      background: $dark_gray;
      width: 99999px;
    }
    &:before {
      left: 100%;
      margin-left: 20px;
    }
    &:after {
      right: 100%;
      margin-right: 20px;
    }
  }
}

.small_action_link {
  margin: 20px;
  font-size: .8em;
  font-family: 'Didot', serif;
  color: $dark_gray;
}

li {
  list-style-type: none;
  font-family: 'Didot', serif;
  color: $dark_gray;
  text-align: left;
  font-size: 1.3em;
}

input[type="submit"] {
  width: 2em;
  font-size: .7em;
  font-family: 'Didot', serif;
  padding: .6em 0;
  //  background-color: black;
  //  color: whitesmoke;
}

.errors {
  margin: 40px;
  font-size: 1.2em;
  font-family: 'Didot', serif;
  color: red;
}

.form_container {
  font-size: .6em;
}

.field_with_errors {
  display: inline;
  margin: 40px;
  font-size: 2.2em;
  font-family: 'Didot', serif;
  color: $dark_gray;
  input {
    border: 1px solid red;
  }
}

textarea.guests {
  width: 308px;
  height: 75px;
  border: 2px solid black;
}

/* ----- =columns ----- */

.one_half {
  width: 460px;
}

.one_third {
  width: 300px;
}

.two_third {
  width: 620px;
  text-align: left;
}

.one_fourth {
  width: 220px;
}

.three_fourth {
  width: 700px;
}

.full_column {
  width: 940px;
}

.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .full_column {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  float: left;
}

.resetColumnSet {
  clear: both;
}

/* ----- =menu (Primary Nav) ----- */

#menu {
  float: right; /* or float: left */
  margin: 0 10px 0 0;
}

#menu li {
  float: left;
  list-style: none;
}

#menu li a {
  font-size: 120%;
  font-weight: bold;
  color: #fff;
  padding: 17px 25px 15px 25px;
  display: block;
  text-decoration: none;
}

#menu li a:hover {
  color: #fff;
  background-color: #3b2c2c;
}

/*Borders between each button */
#menu li + li {
  border-left: 1px solid #000;
}

/*Borders on both sides */
#menu li:first-child a {
  border-left: 1px solid #000;
}

#menu li:last-child a {
  border-right: 1px solid #000;
}