$white: whitesmoke;

#intro {
  background: image-url("intro-bkg.jpg") 0 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  img {
    max-width: 265px;
    margin: 0 auto;
  }
}

#welcome {
  background: image-url("mt-elbert-2.JPG");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  p, h1 {
    font-family: 'Lobster', cursive;
    color: #000000;
    font-weight: bolder;
  }

  p {
    font-size: 1.5em;
  }
  .container {
    padding-left: 400px;
  }

}

#lodging {
  background: image-url("steamboat-trees-4.JPG");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  p, h1 {
  font-family: 'Lobster', cursive;
    color: #000000;
    font-weight: bolder;
  }

  a {
    color: #000000;
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    background-color: lightgray;
    padding: 10px;
    border: solid 1px;
  }

  }
#travel {
  background: image-url("travel.jpeg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lobster', cursive;
  font-weight: bolder;
}
