<body>
<section>
  <p><span>August 8th, 2015</span><p>

  <!--<h1>Welcome!</h1>-->

  <div class="welcome-text">
    <p>
      Dear Friends and Family,
    </p>

    <p>
      Welcome to our wedding website! We are really excited to be married in STEAMBOAT SPRINGS next summer!

      Please check back frequently for more information on logistics surrounding our special day.
    </p>

    <p>
      Love, Nick and Ellie
    </p>
  </div>

  <div class="one_half">
  </div>
  <div class="resetColumnSet"></div>

  <p><span>Lodging</span></p>

  <p>We have reserved a special rate for our wedding weekend at the Sheraton.</p>
  <%= link_to 'Reserve a Room Now', 'https://www.starwoodmeeting.com/StarGroupsWeb/res?id=1411102489&key=1BC26D89', class: 'external_link' %>

</section>
</body>