<main>
  <section id="intro">
    <div class="container">
      <%= image_tag 'ellie+nick.png' %>
    </div>
  </section>

  <section id="welcome">
    <div class="container">
      <h1>
        We're gettin' hitched!!
      </h1>
        <p>
          Dear Friends and Family,
        </p>
        <p>
          Welcome to our wedding site! We are really excited to be married in STEAMBOAT SPRINGS next summer!

          Please check back frequently for more information on logistics surrounding our special day.
        </p>
        <p>
          Love, Nick and Ellie
        </p>
    </div>
  </section>

  <section id="lodging">
    <div class="container">

      <p>

      <h1>
        Lodging
      </h1>
      </p>

      <p>We have reserved a special rate for our wedding weekend at the Sheraton.
        <br>
        Please feel free to reference the link below for information but when you are ready to book,
        we would HIGHLY recommend that you contact John at 800-848-8878 during normal business hours Monday - Friday.
      </p>
      <%= link_to 'Click here for room information', 'https://www.starwoodmeeting.com/StarGroupsWeb/res?id=1411102489&key=1BC26D89', class: 'external_link' %>
    </div>
  </section>

  <section id="travel">
    <div class="container">
      <h1>
        The best resource I have found for travel information to get to steamboat is
        <%= link_to 'here', 'http://www.steamboat-chamber.com/plan-your-trip/getting-here', target: '_blank' %>
      </h1>
    </div>
  </section>
</main>

<script>
  $(document).ready(function () {
    $('a[href^="#"]').on('click', function (e) {
      e.preventDefault();

      var target = this.hash;
      var $target = $(target);

      $('html, body').stop().animate({
        'scrollTop': $target.offset().top
      }, 900, 'swing', function () {
        window.location.hash = target;
      });
    });
  });
</script>