<body>
<section>
  <p>August 8th, 2015<p>

  <div class="welcome-text">
    <p>
      Dear Friends and Family,
    </p>

    <p>
      Welcome to our wedding website! We are really excited to be married in STEAMBOAT SPRINGS next summer!

      Please check back frequently for more information on logistics surrounding our special day.
    </p>

    <p>
      Love, Nick and Ellie
    </p>
  </div>

  <div class="one_half">
  </div>
  <div class="resetColumnSet"></div>
<br>
<br>
  <p>Lodging</p>

  <p>We have reserved a special rate for our wedding weekend at the Sheraton.
    <br>
    Please feel free to reference the link below for information but when you are ready to book,
    we would HIGHLY recommend that you contact John at 800-848-8878 during normal business hours Monday - Friday.  
  </p>
  <%= link_to 'Click here for room information', 'https://www.starwoodmeeting.com/StarGroupsWeb/res?id=1411102489&key=1BC26D89', class: 'external_link' %>

</section>
</body>