<!DOCTYPE html>
<html>
<head>
  <title>WeddingRsvpApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>

<header id="site-header">
  <div class="container">
    <div class="logo">
      <a href="#intro">
        Ellie & Nick
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="#schedule">Schedule</a>
        </li>
        <li>
          <a href="#activities">Activities</a>
        </li>
        <li>
          <a href="#travel">Getting there</a>
        </li>
        <!--<li>-->
          <!--<a href="#lodging">Lodging</a>-->
        <!--</li>-->
        <li>
          <a href="#registry">Registry</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<%= yield %>

</body>
</html>
